Lablar/1_XML/katalog.dtd

<!ELEMENT katalog (kitaplar | plaklar)*>
<!ELEMENT kitaplar (kitap)*>
<!ELEMENT plaklar (plak)*>
<!ELEMENT kitap (yazar, baslik, tur?, fiyat)>
<!ATTLIST kitap
    id CDATA #REQUIRED
    baski CDATA #IMPLIED>
<!ELEMENT yazar (#PCDATA)>
<!ELEMENT baslik (#PCDATA)>
<!ELEMENT tur (#PCDATA)>
<!ELEMENT fiyat (#PCDATA)>
<!ELEMENT plak (album, sarkici+, yili)>
<!ELEMENT album (#PCDATA)>
<!ELEMENT sarkici (#PCDATA)>
<!ELEMENT yili (#PCDATA)>